.tweet {
  margin: 1em 1em;
  background: white;
  opacity: 0.7
}

 .tweet:hover{
  opacity: 1;

}

.tweet header{
  border-radius: 10px 10px 0px 0px;
  height: 3em;
  margin: 0px;
  border: solid gray 1px;
  background-color: lightgray;

}

.tweet img{
  height: 3em;
  padding: 0.25em;
  border-radius: 10px;
}

.tweet .username{
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.tweet .tweeterId{
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  float: right;
  font-size: 12px;
  color: black;
}

.tweet .content{
  border: darkgray solid;
  border-top: 1px;
  border-bottom: 1px;
  padding: 10px
}

.tweet footer{
  height: 30px;
  border: 1px darkgray solid;;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  font-size: 14px;
}
.tweet footer .days{
  padding-left: 10px;
  display: inline;
}

.tweet .icons{
opacity: 0;
padding-right: 10px;
float: right;
color: green;
}


.tweet .icons:hover{
  opacity: 1;
}

